{
  box-sizing: border-box;
}

/* Change background color */

body {
  background-color: #ccc;
  padding-top:20px;
}

/* Box model and positioning */

.container {
  width: 650px;
  margin: 40px auto;
}

.container_two {
    width: 200px;
    margin: 40px auto;
  }

.container_three {
  width: 200px;
  margin: 40px auto;
}

.background {
  background-color: cadetblue;
}
    

h2 {
    text-align: center;
}

@media screen and (max-width: 768px) {

  /* Container's width changes to 500px when small enough. */
  .container {
    width: 500px;
  }
}

