{
  box-sizing: border-box;
}

/* Change background color */

body {
  background-color: #ccc;
}

/* Box model and positioning */

.container {
  width: 650px;
  margin: 40px auto;
}

@media screen and (max-width: 768px) {

  /* Container's width changes to 500px when small enough. */
  .container {
    width: 500px;
  }
}

